<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Love science! Discovery, think and get science news around the world and what's not neccesarly science with Scienx">
    <link rel="icon" type="image/icon" href="/images/favicon.ico">
    <title>Firans Abera Blog</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/6eb8c7c4f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <div class="logo"><a href="/" ><img src="/images/logo.jpg" alt="logo"></a></div>
        <div class="menu">
            <form id="search" action="/" method="post">
                <input type="text" name="search" placeholder="search topic">
                <button type="submit">search</button>
            </form>
            <a href="/about">About</a>
        </div>
    </nav>
